<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="serviceURL" value="http://localhost:2119/service.asmx"/>

    <!-- Defines if Excpetion report shall use GUI when reporting exceptions. This setting will be set during the ExceptionRegistartor.Register() call, any subsequent call to ExceptionRegistartor.UseReportGUI will override this config setting.-->
    <add key="ExceptionReporterUseGUI" value="true"/>

    <!-- This limits the size on the local exception log file. If file size is higher: exceptions will not be logged and a warning will be logged in %programdata%\inmeta\ExceptionReporter\ExceptionReporterInfo.log.  -->
    <add key="ExceptionFileSizeInMB" value="1" />

  </appSettings>

  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
