<?xml version="1.0"?>
<configuration>
    
  <!-- This part is configuratiob for Inmeta exception reporter-->
  <appSettings>
    <add key="serviceURL" value="http://localhost:8132/service.asmx"/>
    <add key="ExceptionReporterUseGUI" value="true"/>
    <add key="LogExceptionReports" value="true"/>
    <add key="ApplicationName" value="KmApplicationName"/>    
    <add key="TryContinueAfterException" value="true"/>
    <add key="ShowExitWindow" value="true"/>
    <add key="ExceptionFileSizeInMB" value="1" />
  </appSettings> 

  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
