source http://nuget.org/api/v2/
source http://www.nuget.org/api/v2/

nuget Antlr >= 3.4.1.9004 restriction: >= net45
nuget bootstrap >= 3.0.0 restriction: >= net45
nuget EntityFramework >= 4.1.10331.0
nuget fasterflect >= 2.1.3 restriction: >= net45
nuget jQuery >= 1.10.2
nuget jQuery.UI.Combined >= 1.8.11
nuget jQuery.Validation >= 1.11.1
nuget jQuery.vsdoc >= 1.5.1
nuget log4net >= 2.0.8 restriction: >= net45
nuget Microsoft.AspNet.Mvc >= 5.2.0 restriction: >= net45
nuget Microsoft.AspNet.Razor >= 3.2.0 restriction: >= net45
nuget Microsoft.AspNet.Web.Optimization >= 1.1.3 restriction: >= net45
nuget Microsoft.AspNet.WebPages >= 3.2.0 restriction: >= net45
nuget Microsoft.jQuery.Unobtrusive.Validation >= 3.2.0 restriction: >= net45
nuget Microsoft.TeamFoundationServer.Client
nuget Microsoft.Web.Infrastructure >= 1.0.0.0 restriction: >= net45
nuget Modernizr >= 2.6.2
nuget Newtonsoft.Json >= 6.0.3 restriction: >= net45
nuget NUnit >= 3.10.1 restriction: >= net45
nuget NUnit3TestAdapter >= 3.10.0 restriction: >= net45
nuget Respond >= 1.2.0 restriction: >= net45
nuget WebGrease >= 1.5.2 restriction: >= net45
nuget Microsoft.VisualStudio.Services.Client