@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-6">
        <img src="~/images/index-hero.jpg" alt="Azure DevOps" width="400"/>
    </div>
    <div class="col-md-6">
        <h2>
            Azure DevOps Tools Exception Reporter
        </h2>
        <a href="/Configuration" class="btn btn-info btn-lg" role="button">Get Started</a>
    </div>
</div>

