<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
  </configSections>
  <startup>
    <supportedRuntime sku=".NETFramework,Version=v4.0" version="v4.0" />
  </startup>

  <appSettings>
    <add key="pollintervall" value="60"/>
    <add key="serviceURL" value="http://localhost:2119/service.asmx"/>
    <add key="username" value="ValueSetATInstallTime"/>
    <add key="password" value="ValueSetAtInstallTime" />
    <add key="domain" value="ValueSetAtInstallTime" />
    <add key="httpSecurityMode" value="TransportCredentialOnly"/>
    <add key="clientCredentialType" value="Basic" />
  </appSettings>

</configuration>