<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Osiris.Exception.Reporter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="TFSExceptionSystem.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
    <applicationSettings>
        <Osiris.Exception.Reporter.Properties.Settings>
            <setting name="TFSExceptionServiceURL" serializeAs="String">
                <value>http://localhost/Osiris.Exception.Reporter/Service.asmx</value>
            </setting>
            <setting name="TFSExceptionServiceAuthUser" serializeAs="String">
                <value />
            </setting>
            <setting name="TFSExceptionServiceAuthPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="TFSExceptionServiceAuthDomain" serializeAs="String">
                <value />
            </setting>
        </Osiris.Exception.Reporter.Properties.Settings>
        <TFSExceptionSystem.Properties.Settings>
            <setting name="TFSExceptionSystem_TFSExeptionService_TFSExceptionReporter"
                serializeAs="String">
                <value>http://exceptions.osiris.no/Service.asmx</value>
            </setting>
        </TFSExceptionSystem.Properties.Settings>
    </applicationSettings>
</configuration>