<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime sku=".NETFramework,Version=v4.0" version="v4.0" />
  </startup>

  <appSettings>
    <add key="pollintervall" value="60" />
    <!-- add key="serviceURL" value="http://localhost:8080/Inmeta.Exception.Reporter.Web/ExceptionService/Exceptions.svc" / -->
    <!-- add key="serviceURL" value="https://vm-swfactory:443/Inmeta.Exception.Reporter.Web/ExceptionService/Exceptions.svc/" / -->
    
    <add key="serviceURL" value="http://localhost:8132/ExceptionService/Exceptions.svc" />
    <add key="username" value="s1VZac5U0SChZEeT6CHgBA=="/>
    <add key="password" value="hqAYXhe28vlpQ3fOvwKFSQ=="/>
    <add key="domain" value=""/>
    <add key="httpSecurityMode" value="TransportCredentialOnly"/>
    <add key="clientCredentialType" value="Windows" />

  </appSettings>

</configuration>