<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="WebExceptionGUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<appSettings/>
	<connectionStrings/>
	<system.web>
		<!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
		<compilation debug="true" targetFramework="4.0">
		</compilation>
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
		<authentication mode="Windows"/>
		<!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.
-->
		<customErrors mode="Off" defaultRedirect="TFSException.aspx"/>
		<!--<error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/></system.web>
	<!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
	<applicationSettings>
		<WebExceptionGUI.Properties.Settings>
			<setting name="UseTFSExceptionHandling" serializeAs="String">
				<value>true</value>
			</setting>
			<setting name="ExceptionRedirectUrl" serializeAs="String">
				<value>ExceptionDlg.aspx</value>
			</setting>
			<setting name="ApplicationName" serializeAs="String">
				<value>PlanOgByggeregler</value>
			</setting>
			<setting name="TeamProject" serializeAs="String">
				<value>Byggtjeneste - Projects</value>
			</setting>
			<setting name="ExceptionPage" serializeAs="String">
				<value>TFSException.aspx</value>
			</setting>
			<setting name="CancelPage" serializeAs="String">
				<value>default.aspx</value>
			</setting>
		</WebExceptionGUI.Properties.Settings>
	</applicationSettings>
</configuration>
