<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <add key="serviceURL" value="http://localhost:9072/service.asmx"/>
    <!--add key="serviceURL" value="http://exceptions.osiris.no/Service.asmx"/-->    
    <add key="ExceptionReporterUseGUI" value="true"/>
    <add key="LogExceptionReports" value="true"/>
    <add key="ApplicationName" value="KmApplicationName"/>    
    <add key="TryContinueAfterException" value="true"/>
    <add key="ShowExitWindow" value="true"/>
    <add key="ExceptionFileSizeInMB" value="1"/>
  </appSettings>
  <startup>
    <supportedRuntime sku=".NETFramework,Version=v4.5" version="v4.0"/>
  </startup>
</configuration>
